# Ignore secrets and env files
*.env
.env*
secrets/
.p4ignore
user-data*
network-config*

# Ignore Docker Container Volumes
proxy*

# Ignore OS files
.DS_Store
Thumbs.db
.p4config*

# Ignore local temporary files
*.tmp
*.log

# Ignore build and distribution files
dist/
build/
*.egg-info/

# Ignore IDE and editor files
.vscode/
.idea/

#Ignore Large Binary Files
*.isol
# Ignore Terraform State Files
*.tfstate
*.tfstate.backup
terraform.tfvars
wind/infrastructure/terraform/environment/local-sddc/tcmpdumpmaas.txt
CLAUDE.md
